body {
    background-color: #f8f9fa;
}

#calculator {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#title {
    font-size: 2.5em;
    color: #333;
}

#description {
    font-size: 1.2em;
    color: #666;
}

#result {
    text-align: right;
    font-size: 2em;
    height: 60px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    flex: 1;
    font-size: 1.5em;
    margin: 2px;
}
